### Dhrushil Dipenkumar Patel
### 8862870
### Lab:- 3

In [12]:
# Loading and creating dataframes
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

### Loading the Creditcard.csv File

In [4]:
CC = pd.read_csv("C:\\Users\\pdhru\\Downloads\\creditcard.csv")
CC.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

### Creating a model

In [6]:
# Step 1: Preprocessing the data
# Missing values
print(CC.isnull().sum())

# Split the datasets
A = CC.drop('Class', axis=1)
B = CC['Class']

# Scaleing the numerical features
scale = StandardScaler()
A[['Time', 'Amount']] = scale.fit_transform(A[['Time', 'Amount']])

# Step 2: Data Splitting
X_train, X_test, y_train, y_test = train_test_split(A, B, test_size=0.3, random_state=42)

# Step 3: Model Training
M = LogisticRegression()
M.fit(X_train, y_train)

# Step 4: Model Evaluation
y_pred = M.predict(X_test)
Accuracy = accuracy_score(y_test, y_pred)
Precision = precision_score(y_test, y_pred)
Recall = recall_score(y_test, y_pred)
F1 = f1_score(y_test, y_pred)

print(f"Accuracy: {Accuracy}")
print(f"Precision: {Precision}")
print(f"Recall: {Recall}")
print(f"F1-score: {F1}")

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64
Accuracy: 0.9992743700478681
Precision: 0.8775510204081632
Recall: 0.6323529411764706
F1-score: 0.7350427350427351

### Loading Insurance Dataset

In [7]:
IN=pd.read_csv("C:\\Users\\pdhru\\Downloads\\insurance.csv")
IN.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
IN.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [9]:
IN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [10]:
IN.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
IN=pd.get_dummies(IN, drop_first = True)

In [13]:
A = IN.drop('charges', axis = 1)
B = IN['charges']

X_train, X_test, y_train, y_test = train_test_split(A, B, test_size=0.3, random_state=42)

LR = LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

### Checking MAE,MSE,R2,RSME

In [14]:
y_pred = LR.predict(X_test)

# Checking the accuracy of the model
MAE = mean_absolute_error(y_test, y_pred)
MSE = mean_squared_error(y_test, y_pred)
RSME = mean_squared_error(y_test, y_pred, squared = False)
R2 = r2_score(y_test, y_pred)

# Print calculate data
print('Mean Absolte: ',round(MAE, 2))
print('Mean Squared: ',round(MSE, 2))
print('Root Mean Squared: ',round(RSME, 2))
print('R-squared: ',round(R2, 2))

Mean Absolte:  4145.45
Mean Squared:  33780509.57
Root Mean Squared:  5812.1
R-squared:  0.77